[Unit]
Description=Run security-camera-photo.py at startup
After=network.target

[Service]
Type=simple
User=james
WorkingDirectory=/home/james/Programs/
ExecStart=/usr/bin/python3 /home/james/Programs/security-camera-photo.py
Restart=on-failure

[Install]
WantedBy=multi-user.target